.red{
    color: red;
}
.green{
    color:green
}
.orange{
    color: orange;
}
iframe{
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}
.box{
    box-shadow:5px 5px 20px  grey;
}